.wp-block-noortemplates-tabs {

	.noortemplates-tabs__tab {
		cursor: pointer;
	}

	.noortemplates-tabs__add.components-button {
		align-self: center;
	}

	// Only the active tab panel is visible while editing.
	.wp-block-noortemplates-tab:not(.is-active) {
		display: none;
	}
}
